.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .admin-content {
    display: flex;
    flex: 1;
  }
  
  .admin-main-content {
    flex: 1;
    overflow-y: auto;
  }
  