.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0e4a52;
  padding: 10px;
  margin: 20px 0;
}

.donation-initiative {
  width: 100%;
  padding: 20px;
}

.header-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.header-content {
  flex: 2;
}

.header-img {
  flex: 1;
}

.header-img img {
  margin-top: -700px;
  margin-left: 850px;
  width: 40%;
  height: auto;
}

.header-content .title span {
  display: flex;  
  color: #135d66;
  font-size: 50px;
  padding-right: 12px;
}

.title {
  color: #135d66;
  font-size: 50px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.subtitle {
  font-size: 32px;
  color: #0e4a52;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 30px;
}

.content, .additional-info {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 30px;
}

.section-title {
  color: #0e4a52;
  font-size: 28px;
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.step-card {
  background: linear-gradient(to right, #135d66, #4b8a92);
  background-color: #135d66;
  color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}

.step-card:hover {
  transform: scale(1.05);
}

.icon-container {
  margin-bottom: 15px;
}

.step-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.step-description {
  font-size: 16px;
  line-height: 1.5em;
}

.gallery-section {
  margin-top: 70px;
  padding: 50px 20px;
}

.gallery-header {
  margin-bottom: 50px;
}

.gallery-title {
  color: #0e4a52;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 20px;
}

.gallery-header p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery-item {
  height: 250px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid #d4d4d4;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}


.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-image .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  color: #ffffff;
  cursor: pointer;
}

.popup-image img {
  border: 3px solid #ffffff;
  max-width: 90%;
  max-height: 90%;
}

.donation-call-to-action {
  display: flex;
  flex-direction: row;
  background-color: #0e4a52;
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1560px;
}

.cta-subtitle {
  font-weight: normal;
  font-size: 23px;
  color: #d4d4d4;
}


.cta-button {
  width: 200px;
  height: 50px;
  background-color: #76abae;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: black;
  color: white;
}

.cta-image {
  margin-left: 20px;
  width: 400px;
}
