.contact-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: 170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
}

.contact-info h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #135D66;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.icon-box {
  width: 50px;
  height: 50px;
  background-color: #e7f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:15px;
  margin-right: 15px;
  border-radius: 5px;
}

.info-icon {
  font-size: 24px;
  color: #135D66;
  /* margin-top:20px; */
}

.info-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.info-item p {
  margin: 0;
}

.form-wrapper {
  flex: 1;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.form-wrapper h2 {
  font-size: 34px;
  margin-bottom: 40px;
  margin-top: 2px;
  color:#135D66 ;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-control {
  width: 48%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

textarea.form-control {
  width: 100%;
  height: 100px;
}

.btn-submit {
  padding: 10px 5px;
  border: none;
  margin-right:450px;
  border-radius: 5px;
  background-color: #135D66;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  align-self: flex-end;
}

.btn-submit:hover {
  background-color: #0d4b56;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info, .form-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
}