
.contact-section {
  padding: 50px 0;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea.form-control {
  height: 150px;
}

  