.home-sec {
  margin-top: 5.5rem;
  padding: 100px 0;
  background-image: url("https://img.freepik.com/premium-photo/group-happy-kids_257123-15375.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 94.6rem;
}

.home-container {
  width: 100%;
  max-width: 1140px;
  margin-left: 150px;
  padding: 0 15px;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -3rem;
}

.home-row {
  display: flex;
  flex-wrap: wrap;
}

.home-col-50 {
  width: 50%;
}

.align-item-center {
  display: flex;
  align-items: center;
}

.home-info {
  background-color: rgba(235, 235, 235, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.home-info h1,
.home-info h2 {
  color: #135D66;
}

.home-info p {
  color: black;
}

.home-info h1 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 20px;  
}

.home-info h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.home-info h2 span {
  color: #000000;
}

.home-info p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.home-btn {
  background-color: #135D66;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
  border-radius: 6px;
}

.read-more:hover {
  color: black;
}


@media (max-width: 768px) {
  .home-row {
    flex-direction: column;
  }

  .home-col-50 {
    width: 100%;
  }

  .order-first {
    order: -1;
  }

  .order-lg-last {
    order: 0;
  }
}
