.fixed-top {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1030;
  background-color: #135D66;
}

.navbar img {
  width: 30px;
  height: 30px;
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-right: 650px;
}

.navbar-toggler {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover,
.nav-link:focus {
  color: #e6edff;
}

.active .nav-link {
  font-weight: bold;
}

.cont-sec {
  padding: 8px;
  background-color: #e6edff;
  width: 100%;
}

.cont-sec p {
  margin: 0;
}

.cont-sec p a {
  text-decoration: none;
  color: #135D66;
}

.cont-sec .social {
  text-align: right;
}

.cont-sec .social a img {
  width: 20px;
  margin-left: 15px;
}

.cont-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
