.heading h2 {
  font-size: 28px;
  font-weight: 500;
  border-left: 8px solid #135D66;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.heading p {
  font-size: 18px;
}

.heading p span {
  font-weight: 600;
  color: #135D66;
}


header {
  background-color: #135D66;
  width: 100%;
}

header .navbar-brand {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

nav {
  padding: 10px 0px !important;
}

#navbarSupportedContent {
  margin-left: 30rem;;
}
.navbar-nav .nav-item {
  margin-left: 2.5rem;
}

.cont-sec {
  padding: 8px;
  background-color: #e6edff;
  width: 100%;
}

.cont-sec .contact-cont {
  display: flex;
  flex-wrap: wrap;
}

.cont-sec p {
  margin: 0;
}

.cont-sec p a {
  text-decoration: none;
  color: #135D66;
}

.cont-sec .social {
  text-align: right;
}

.cont-sec .social a img {
  width: 20px;
  margin-left: 15px;
}
