@media (max-width: 992px) {
    .home-content {
      flex-direction: column;
    }
  
    .home-info {
      text-align: center;
    }
  
    .img-sec img {
      max-width: 80%;
    }
  
    .don-box {
      flex: 1 1 100%;
    }
  
    .image-container {
      flex-direction: column;
    }
  
    .image {
      flex: 1 1 100%;
    }
  }
  
  @media (max-width: 576px) {
    .heading h2 {
      font-size: 1.5em;
    }
  
    .heading p {
      font-size: 1em;
    }
  
    .home-info h1 {
      font-size: 2em;
    }
  
    .home-info h2 {
      font-size: 1.5em;
    }
  
    .home-info p {
      font-size: 1em;
    }
  
    .don-box {
      padding: 10px;
    }
  
    .don-box h3 {
      font-size: 1.2em;
    }
  
    .don-box p {
      font-size: 0.9em;
    }
  
    .about-info h3 {
      font-size: 1.5em;
    }
  
    .about-info p {
      font-size: 0.9em;
    }
  
    .form-control {
      padding: 8px;
    }
  
    textarea.form-control {
      height: 120px;
    }
  }
  