.v-navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #135d66;
    color: white;

    .v-logo {
        font-size: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 30px;
        
        span {
            font-size: 25px;
        }
    }

    .v-icons {
        display: flex;
        align-items: center;
        gap: 23px;
        font-size: 22px;

        .a-user {
            display: flex;
            align-items: center;
            gap: 4px;
           

            span {
                font-weight: 600;
                font-size: 15px;
                display: flex;
                align-items: center;
            }
        }
    }
}