.dataTable {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
  
  .dataGrid {
    padding: 20px;
  }
  
  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }
  
  .action {
    display: flex;
    gap: 10px;
    
  }
  
  .edit-link,
  .delete-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #135d66;
  }
  
  .edit-link:hover {
    background-color: #e0f7fa;
  }
  
  .delete-link:hover {
    background-color: #ffebee;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  