.a-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #135d66;
    color: white;
    padding: 30px;
    margin-top: 2em;

    span {

        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            font-size: 15px;
        }
    }
}