.a-menu {
    background-color: #135d66;
    color: white;
    width: 150px;
    margin-top: 2em;

    .a-item {
        display: flex;
        flex-direction: column ;
        gap: 10px;
        margin-top: 1em;
        margin-bottom: 15px;

        .active {
            background: #76ABAE;
        }
        
        .a-title {
            font-size: 12px;
            font-weight: 200;
            color: #ddd;
            padding-left: 20px;
        }

        .listItem {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 10px;
            padding-left: 30px; 
            
            &:hover {
                background-color: #76ABAE;
            }
        }

    }
}